{{define "footer"}}
<footer>
  <p>&copy; 2025 Dominic Frey.</p>
  <a href="https://github.com/client-side96" target="_blank" rel="noopener noreferrer">
    <div class="w-8">{{ LoadSVG "./static/github.svg" }}</div>
    <span class="sr-only">Github</span>
  </a>
  <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
    <div class="w-8">{{ LoadSVG "./static/linkedin.svg" }}</div>
    <span class="sr-only">Linkedin</span>
  </a>
</footer>
{{end}}
