{{define "header"}}
<header class="px-8 pt-10 pb-4 flex flex-col gap-4">
  <div class="w-8 text-primary-500">{{ LoadSVG "./static/logo.svg" }}</div>
  <h1 class="text-2xl font-bold text-white uppercase">Dominic Frey</h1>
</header>
{{end}}
