{{template "page"}}

{{define "title"}}Home{{end}}

{{define "body"}}
<section class="flex flex-col gap-4">
  <p>I am a software developer based in Munich, Germany.</p>
  <p>Currently I am working at <a href="https://mvst.co" target="_blank" rel="noopener noreferrer">MVST</a>, helping to
    create innovative platforms for start-ups.</p>
  <p>I love biking 🚴, basketball 🏀 and a fresh ground espresso ☕.</p>
  <p><a href="https://neovim.io" target="_blank" rel="noopener noreferrer">Neovim</a> is my playground and professional
    working environment &lt;3.</p>
  <p>Over the years I helped creating full stack web apps in Typescript and React and cross-platform mobile apps in
    Flutter & React Native.</p>
</section>
{{end}}
