{{template "page"}}

{{define "title"}}Home{{end}}

{{define "body"}}
<section class="bg-gray-100 p-4">
  <h1 class="text-2xl font-bold">Home</h1>
  <p class="text-red-500">Welcome to my personal website!</p>
</section>
{{end}}
