{{define "page"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{template "title" .}} - Dominic Frey</title>

  <link rel="stylesheet" href="/static/tailwind.css">
</head>

<body>

  {{template "header" .}}

  {{template "navigation" .}}

  <main>
    {{template "body" .}}
  </main>

  {{template "footer" .}}

</body>


</html>
{{end}}
